$styles: about;
.#{$styles} {
    @include flex (center, center, row);
    padding-top: 80px;
    padding-bottom: 100px;

    
    &__img{
        margin-right: 120px;
    }
    &__text-wrapper{
        width: 430px;
    }
    &__title{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H600;
        font-style: normal;
        font-weight: normal;
        color: $text-about-title-color;
        margin-bottom: 13px;
        letter-spacing: 0.06em;
        line-height: 103%;
    }
    &__subtitle{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H600;
        font-weight: 400;
        color: $text-about-title-color;
        margin-bottom: 25px;
        letter-spacing: 0.06em;
        
    }
    &__subtitle::before,
    &__subtitle::after {
    content: "“"; 
    font-size: 40px; 
    line-height: 0; 
   }
   &__subtitle::after {
    content: "”"; /* Правая кавычка */
   }
    &__text-top, &__text-bottom {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: $H100;
        color: $text-about-text-color;
        line-height: 160%;
    }
    &__text-top{
        margin-bottom: 25px;
    }
   
    &__text-bottom{}
}