$styles: header;
.#{$styles} {
@include flex (center, center, row);
margin-bottom: 60px;
&__title{
    display:none;
}
&__logo {
    @include flex (center, flex-start, column);
    margin-right: 570px;  
}
@media (max-width: 320px){
    &__logo {
        margin-right: 43px;
    }
}
@media (max-width: 768px){
    &__logo {
        margin-right: 81px;
    }
}
&__logo__title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: $H550;
    font-weight: 400;
    color: $text-logo-main;
    margin-bottom: 10px;
    letter-spacing: 0.06em;
}
&__logo__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $H50;
    font-weight: 400;
    color: $text-main-color;
    letter-spacing: 0.1em; 
    text-align: center;
}
&__burger {
    display: none;
}
@media (max-width:320px){
    &__burger {
        display: block;
    } 
}
&__nav{
    @include flex (center, center, row);    
}
&__nav__item{
    margin-right: 30px;
}
&__nav__item:last-child{
    margin-right: 0px;
}
&__nav__item__link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: $H100;
    font-weight: normal;
    font-style: normal;
    color: $text-main-color;   
    padding-bottom: 4px;
    line-height: 160%;
}
&__nav__item__link:hover{
    border-bottom: 3px solid $border-nav-color;
}
&__nav__item__link--active {
border-bottom: 3px solid $border-nav-color;
}
@media (max-width: 320px){
    &__nav {
        display: none;
    }
}

@media (max-width: 320px){
    &__header {
       margin-bottom: 0px;
    }
}
}
