$styles: not-only;
.#{$styles}{
@include flex (center, center, column);
background: url(..//../img/start-screen-background.jpg) no-repeat;
background-position: center center;
background-size: cover;
padding-top: 60px;

&__title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $H700;
    font-weight: 400;
    width: 310px;
    color:$text-main-color;
    line-height: 130%;
    margin-bottom: 42px;
}
@media (max-width: 320px){
    &__title {
        font-size: $H520;
        letter-spacing: 0.06em; 
        width: 250px; 
        text-align: center;
    }
}

&__content {
    @include flex (center, flex-start, row);
}
@media (max-width: 320px){
    &__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 768px){
    &__content {
        @include flex(center, center, column);  
    }
}
&__content__text-wrapper{
    @include flex (center, flex-start, column);  
    margin-right: 42px;
    padding-top: 165px;
}
@media (max-width:320px){
    &__content__text-wrapper{
        @include flex (center, center, column);  
        margin-right: 0px;
        padding-top: 0px;
    }  
}
@media (max-width:768px){
    &__content__text-wrapper{
        @include flex (center, flex-start, column);  
        margin-right: 0px;
        padding-top: 0px;
    }  
}
&__text {
    width: 460px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $H100;
    font-weight: 400;
    width: 460px;
    color:$text-main-color;
    line-height: 160%;
    margin-bottom: 41px; 
}
@media (max-width: 320px){
    &__text {
        width: 300px;
        text-align: center;
    }
}
&__button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $H200;
    font-weight: 400;
    color: $button-text-color;
    letter-spacing: 0.06em;
    padding: 15px 45px;
    background-color: $button-background-color;
    border-radius: 300px;
}
@media (max-width:320px){
    &__button {
        margin-bottom: 105px;
    }
}
@media (max-width:768px){
    &__button {
        align-self: center;
        margin-bottom: 100px;
    }
}
&__button:hover{
    background-color: $backgroun-addition-card-hover-color;
}
@media (max-width: 320px){
    &__image {
        width: 260px;
        height: 271px;
    }
}
@media (max-width: 768px){
    &__image {
        width: 569px;
        height: 593px;
        position: relative;
        left: 60px;
    }
}
}// end & 
@media (max-width: 320px){
    .not-only{
        background: url(..//..//img/start-screen-gradient-background320.png) no-repeat;
        padding-top: 30px;
    }
}
@media (max-width: 768px){
    .not-only{
        background: url(..//..//img/start-screen-gradient-background768.png) no-repeat;
        padding-top: 30px;
    }
}