$styles: than;
.#{$styles}{
    @include flex (center, center, column);
    padding-top: 80px;
    padding-bottom: 100px;

    
    &__title{
        width: 310px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H600;
        font-weight: 400;
        color:$text-than-title-color;
        line-height: 130%;
        margin-bottom: 60px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    &__list-top, &__list-bottom{
        @include flex (center, center, row);
    }
    &__list-top{
        margin-bottom: 55px;
    }
    &__list-top__items, &__list-bottom__items, {
        @include flex (center, center, column);
        margin-right: 120px;
    }
    &__list-top__items:last-child, &__list-bottom__items:last-child, {
        margin-right: 0px;
    }
    &__list__icon{
        margin-bottom: 30px;
    }
    &__list__text{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H300;
        font-weight: 400;
        color: $text-othan-text-color;
        letter-spacing: 0.06em;
        line-height: 115%;
    }
   
   


}