* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    transition: all .5s;
  }
  ul,
  ol {
    list-style: none;
  }
  html, body {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
  }
.container {
  width: 1280px;
  display: flex;
  flex-direction: column;
 justify-content: center;

}
@media (max-width: 320px){
  .container{
    width: 320px;
  }
}