* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    transition: all .5s;
  }
  ul,
  ol {
    list-style: none;
  }
  html, body {
    scroll-behavior: smooth;
  }
.container {
  width: 1920px;
  @include flex (center, center, column);
}