$styles: footer;
.#{$styles}{
    width: 100%;
    @include flex (center, center, row);
    background: url(../img/footer-background.png) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    
    &__left-column{
        margin-right: 161px;
    }
    &__left-column__title{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H600;
        font-weight: normal;
        color:$text-main-color;
        line-height: 130%;
        margin-bottom: 40px;
        letter-spacing: 0.06em;
        width: 280px;
    }
    &__left-column__email{
        @include flex (flex-start, center, row);
        margin-bottom: 40px;
    }
    &__left-column__email__icon{
        margin-right: 20px;
        
    }
    &__left-column__email__link{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H300;
        font-weight: 400;
        color: $text-email-footer;
        line-height: 115%;
        letter-spacing: 0.06em;
    }
    &__left-column__telephone{
        @include flex (flex-start, center, row);
    }
    &__left-column__telephone__icon {
        margin-right: 20px; 
    }
    &__left-column__telephone__link{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H300;
        font-weight: 400;
        color: $text-email-footer;
        line-height: 115%;
        letter-spacing: 0.06em;
    }

    &__right-column{
        margin-right: 160px;
    }
    &__right-column__title{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H600;
        font-weight: normal;
        color:$text-main-color;
        line-height: 130%;
        margin-bottom: 40px;
        letter-spacing: 0.06em;
        width: 270px;
    }
    &__right-column__first-adress{
        @include flex (flex-start, center, row);
        margin-bottom: 40px;
    }
    &__right-column__first-adress__icon{
        margin-right: 20px; 
    }
    &__right-column__first-adress__link {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H300;
        font-weight: normal;
        color: $text-email-footer;
        line-height: 115%;
        letter-spacing: 0.06em;
        width: 264px;  
        font-style: normal;
    }
    &__left-column__second-adress{
        @include flex (flex-start, center, row);
    }
    &__right-column__second-adress__icon{
        margin-right: 20px; 
    }
    &__right-column__second-adress__link{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H300;
        font-weight: 400;
        color: $text-email-footer;
        line-height: 115%;
        letter-spacing: 0.06em;
    }
    &__img{
        align-self: flex-start;
    }








}