@mixin text($size, $weight: 400, $color: $text-main-color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    @content;
  }
  @mixin flex(
  $justify-content: flex-start,
  $align-items: stretch,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

@mixin font_Lato {
  font-family: 'Lato', sans-serif;
}
@mixin font_Montserat {
  font-family: 'Montserrat', sans-serif;
}
@mixin font_Montserat--bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

