$styles: our-friends;
.#{$styles}{
    @include flex (center, center, column);
    background-color: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
    &__title{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H600;
        font-weight: 400;
        color: $text-our-friends-title-color;
        margin-bottom: 60px;
        line-height: 130%;
        width: 400px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    &__slider{
        @include flex (center, center, row);
        margin-bottom: 60px;
    }
    &__slider__button--left, &__slider__button--right{
        border: 2px solid $border-our-friends-border-color;
        border-radius: 100px;
        padding: 23px 19px 23px 19px;
        transition: all .8s;
    }
    &__slider__button--left:hover, &__slider__button--right:hover{
        background-color: $arrow-bacground-color-hover;
        cursor: pointer;
    }
    &__slider__button--left{
        margin-right: 53px;
    }
    &__slider__list{
        @include flex (center, center, row);
    }
    &__slider__list__items{
        @include flex (center, center, column);
        padding: 30px 35px; 
        margin-right: 90px;
        transition: all .7s;
    }
    &__slider__list__items:hover{
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    &__slider__list__items:last-child{
        margin-right: 53px;
    }
    &__slider__list__items__img{
        margin-bottom: 30px;
    }
    &__slider__list__items__title{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H300;
        font-weight: 400;
        color: $text-our-friends-title-color;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
    }
    &__slider__list__items__button{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $H200;
        font-weight: 400;
        color: $button-text-color;
        letter-spacing: 0.06em;
        padding: 15px 45px;
        border: 2px solid $border-our-friends-border-color;
        border-radius: 300px;
    }
    &__slider__list__items__button:hover{
        background-color: $button-bacground-color-hover;
    }
    &__button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $H200;
    font-weight: 400;
    color: $button-text-color;
    letter-spacing: 0.06em;
    padding: 15px 45px;
    background-color: $button-background-color;
    border-radius: 300px;
    }
    &__button:hover{
        background-color: $backgroun-addition-card-hover-color;
    }
}